<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="http://i.imgur.com/iZ52mIl.png">
    <link rel="apple-itouch-icon" href="http://i.imgur.com/iZ52mIl.png">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">

  </head>
  <h1>Admin Dashboard
  </h1>
  <!-- Log Out of the app -->
  <input onclick="window.location.href='/admin/logout'" type="button" class="btn btn-danger" value="logout" />

  </body>
</html>